<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= newsletter.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="location">Location</label>
    <input required type="text" name="location" id="location" class="form-control">
</div>

<div class="form-group">
    <label for="Date">Date</label>
    <input required type="text" name="date" id="date" class="form-control">
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>