<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Header</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <footer class="footer">
        <div class="l-footer">
        <h1>
        <img src="/img/logo.png" width="100px" height="100px" alt=""></h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam atque recusandae in sit sunt molestiae aliquid fugit. Mollitia eaque tempore iure sit nobis? Vitae nemo, optio maiores numquam quis recusandae.</p>
        </div>
        <ul class="r-footer">
        <li>
          <h2>
        Social</h2>
        <ul class="box">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        </ul>
        </li>
        <li class="features">
          <h2>
        Information</h2>
        <ul class="box h-box">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
        </li>

        </ul>
        </footer>
        
</body>
</html>