<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Header</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="footer-container">
    <footer class="footer">
        <div class="l-footer">
        <h1>
        <img src="/img/1.png" width="100px" height="100px" alt=""></h1>
        
        </div>
        <ul class="r-footer">
        <li>
          <h2>
        Social</h2>
        <ul class="box">
        <li><a href="#">Facebook</a></li>
        <li><a href="https://www.instagram.com/mssunhcr_/">Instagram</a></li>
        </ul>
        </li>
        <li class="features">
          <h2>
        Information</h2>
        <ul class="box h-box">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/newsletter">Newsletter</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/volunteering" >Volunteer</a></li>
        </ul>
        </li>

        </ul>
        </footer>
        </div>
        
</body>
</html>