<!--<style>
  header{
  height: 80px;
  background: #ffffff;
  width: 100%;
  text-align: center;
  z-index: 12;
  position: fixed;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
}

*{
  margin: 0;
  padding: 0;
}

nav{
  float: right;
  margin-right: 0;
  line-height: 100px;
}
nav a{
  text-decoration: none!important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
  font-size: 15px;
  color: black;
  margin: 0 10px;
}
.logo{
  margin-left: 0;
  float: left;
}
</style>-->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Header</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="box-area">
    <header>
      <div class="wrapper">
        <div class="logo">
          <a href="/"><a href="/"><img src="/img/logo.png" width="120px" height="120px" ></a>
        </div>
        <nav>
          <a href="/">HOME</a>
          <a href="/about">ABOUT</a>
          <a href="/newsletter">NEWSLETTER</a>
          <a href="/events">EVENTS</a>
          <a href="/volunteering" >VOLUNTEER</a>
          
        </nav>
      </div>
    </header>
  </div>
</body>

  <!--nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <li id="home"><a href="/"><img src="/img/logo.png" width="80px" height="80px" ></a></li>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li id="newsletter"><a href="/newsletter">NEWSLETTER</a></li>
          <li id="events"><a href="/events">EVENTS</a></li>
          <li id="volunteering"><a href="/volunteering" >VOLUNTEERING</a></li>
          <li id="community"><a href="/community" >COMMUNITY</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">-->

 <!-- <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
          <li id="about"><a href="/about" >ABOUT</a></li>
          <li id="newsletter"><a href="/newsletter">NEWSLETTER</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-center">
            <li id="home"><a href="/">MSSUNHCR</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="events"><a href="/events">EVENTS</a></li>
          <li id="volunteering"><a href="/volunteering" >VOLUNTEERING</a></li>
          <li id="community"><a href="/community" >COMMUNITY</a></li>
        </ul>
    </div>
</nav>-->


    
