<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <%- include("partials/header"); -%>

<div class="about-container">
  <h1>WHO WE ARE</h1>
  <hr>
<p> <%= aboutContent %></p>
</div>
<!--our team snippet on bootsnip by pankajrajput*/-->
<section id="team" class="pb-5">
  <div class="container">
      <h5 class="section-title h1">OUR TEAM</h5>
      <hr>
      <div class="row">
          <!-- Sammi -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/sammy.jpg" width="100%" alt="card image"></p>
                                  <h4 class="card-title">Sammi Yahya</h4>
                                  <p class="card-text">Co-President</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Sammi Yahya</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Sammi -->
          <!-- Meerab -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/meerab.jpg" alt="card image"></p>
                                  <h4 class="card-title">Meerab Majeed</h4>
                                  <p class="card-text">Co-President</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Meerab Majeed</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Meerab-->
          <!-- Taim -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/taim.jpg" alt="card image"></p>
                                  <h4 class="card-title">Taim Saeed</h4>
                                  <p class="card-text">Advocacy Director</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Taim Saeed</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Taim-->
          <!-- Simran -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/simran.jpg" alt="card image"></p>
                                  <h4 class="card-title">Simran Lohit</h4>
                                  <p class="card-text">Advocacy Director</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Sunlimetech</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Simran -->
          <!-- Sezgi -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/sezgi.jpg" alt="card image"></p>
                                  <h4 class="card-title">Sezgi Yanikomeroglu</h4>
                                  <p class="card-text">Fundraising Director</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Sezgi Yanikomeroglu</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Sezgi -->
          <!-- Rabia -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/rabia.jpg" alt="card image"></p>
                                  <h4 class="card-title">Rabia Tahir</h4>
                                  <p class="card-text">Fundraising Director</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Rabia Tahir</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Rabia -->
          <!-- Lyndsey -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/lyndsey.jpg" alt="card image"></p>
                                  <h4 class="card-title">Lyndsey Huynh</h4>
                                  <p class="card-text">Multimedia Director</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Lyndsey Huynh</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Lyndsey -->
          <!-- Adam -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/adam.jpg" alt="card image"></p>
                                  <h4 class="card-title">Adam Ismael</h4>
                                  <p class="card-text">Multimedia Director</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Adam Ismael</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Adam -->
          <!-- Minahil -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/minahil.jpg" alt="card image"></p>
                                  <h4 class="card-title">Minahil Nadeem</h4>
                                  <p class="card-text">Multimedia Director</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Minahil Nadeem</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Minahil -->
          <!-- Shymega -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/shymega.jpg" alt="card image"></p>
                                  <h4 class="card-title">Shymega Arasaratnam</h4>
                                  <p class="card-text">Marketing Director</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Shymega Arasaratnam</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Shymega -->
          <!-- Marium-->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/marium.jpg" alt="card image"></p>
                                  <h4 class="card-title">Marium Khan</h4>
                                  <p class="card-text">Web Developer</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Marium Khan</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Marium -->
          <!-- Kenneth -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/kenneth.jpg" alt="card image"></p>
                                  <h4 class="card-title">Kenneth Chen</h4>
                                  <p class="card-text">Administrative Director</p>
                
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Kenneth Chen</h4>
                                  <p class="card-text">I have been a part of MSSUNHCR since my first year of university. It has provided a platform for many students just like me to help effect meaningful impacts in the lives of refugees, displaced peoples, and asylum-seekers from around the world through a combination of advocacy and fundraising initiatives. As administrative director, I work to facilitate our capacity as a team to achieve those goals. I liaison with various stakeholders within MSSUNHCR to manage the internal logistics of the club, enabling the optimization of our resources, platform, and skills to more effectively support the mandates of the UNHCR.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Kenneth -->
          <!-- Bianca -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/bianca.jpg" alt="card image"></p>
                                  <h4 class="card-title">Bianca Magdilinis</h4>
                                  <p class="card-text">External Director</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Bianca Magdilinis</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Bianca-->
          <!-- Roohi -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="/team/roohi.jpg" alt="card image"></p>
                                  <h4 class="card-title">Roohi Devje</h4>
                                  <p class="card-text">First Year Representative</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Roohi Devje</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Roohi-->
      </div>
  </div>
</section>
<!--our team snippet on bootsnip by pankajrajput*/-->

<%- include("partials/footer"); -%>

</body>
</html>


