<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ABOUT</h1>
    <a href="/" class="btn btn-success">MSSUNHCR</a>
    <a href="/about" class="btn btn-success">ABOUT</a>
    <a href="/newsletter" class="btn btn-success">NEWSLETTER</a>
    <a href="/events" class="btn btn-success">EVENTS</a>
    <a href="/volunteering" class="btn btn-success">VOLUNTEERING</a>
    <a href="/community" class="btn btn-success">COMMUNITY</a>
</body>
</html>