
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/header"); -%>
    <div class="container">
       
    </div>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="overflow">
          <img src="/img/banner-3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>MSSUNHCR</h5>
            <h6>McMaster Students in support of the UNHCR is a club that strives to follow in the footsteps of the UNHCR through various initiatives to aid refugees, returnees, stateless people, the internally displaced and asylum-seekers.</h6>
            <p>Photo by <a href="https://unsplash.com/@eric_masur?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Eric Masur</a> on <a href="https://unsplash.com/s/photos/refugees?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </p>
          </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/banner-1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="title">An unprecedented 82.4 million people around the world have been forced to flee their homes.</h5>
            <h6> Among them are 26.4 million refugees, around 42 per cent of whom are under the age of 18. (Source: unhcr.ca) </h6>
            <p>Photo by <a href="https://unsplash.com/@jricard?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Julie Ricard</a> on <a href="https://unsplash.com/s/photos/refugees?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/banner-2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="title">Humanity is witnessing the highest levels of displacement on record</h5>
            <h6>Including 26.4 million refugees, 48.0 million internally displaced people and 4.1 million asylum-seekers. (Source: unhcr.ca)</h6>
            <p>Photo by <a href="https://unsplash.com/@jricard?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Julie Ricard</a> on <a href="https://unsplash.com/s/photos/refugees?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
      <div class="second-card">
        <div class="text-space">
          <h1>How You Can Help</h1>
          <p></p>
        </div>
        <div class="home-csection">
        <div class="home-card">
            <div class="top">
              <div class="icon">
              <a href="/newsletter"><img src="/img/thinking.png" height="100px" width="100px"></a>
              </div>
              <div class="text">
              <h4><b>Stay Informed</b></h4>
              <p>Read our newsletter for latest updates on pressing issues</p>
              </div>
              <div class="credits">
                <a href="https://www.flaticon.com/free-icons/chat" title="chat icons">Chat icons created by Pixel perfect - Flaticon</a>
              </div>
            </div>
          </div>
          <div class="home-card">
            <div class="top">
              <div class="icon">
                <a href="/volunteering"><img src="/img/solidarity.png" height="100px" width="100px"></a>
                </div>
                <div class="text">
              <h4><b>Volunteer Locally</b></h4>
              <p>Help out those in need by volunteering locally</p>
              </div>
              <div class="credits">
              <a href="https://www.flaticon.com/free-icons/hand" title="hand icons">Hand icons created by surang - Flaticon</a>
              </div>
            </div>
          </div>
          <div class="home-card">
            <div class="top">
              <div class="icon">
                <a href="/events"><img src="/img/group.png" height="100px" width="100px"></a>
                </div>
                <div class="text">
              <h4><b>Participate In Events</b></h4>
              <p>Our events raise money for refugee causes</p>
              </div>
              <div class="credits">
                <a href="https://www.flaticon.com/free-icons/group" title="group icons">Group icons created by Prosymbols - Flaticon</a>
              </div>
            </div>
          </div>
          <!--<div class="home-card">
            <div class="top">
              <div class="icon">
                <a href="/events"><img src="/img/group.png" height="100px" width="100px"></a>
                </div>
                <div class="text">
              <h4><b>Join Events</b></h4>
              <p>Lorem ipsum dolor sit amet</p>
                </div>
              <div class="credits">
                <a href="https://www.flaticon.com/free-icons/group" title="group icons">Group icons created by Prosymbols - Flaticon</a>
              </div>
            </div>
          </div>-->
          </div>
        </div>
      <div class="second-image">
        <div class="overlay">
          <h5>About the UNHCR</h5>
          <h6>UNHCR, the UN Refugee Agency, is a global organization dedicated to saving lives, protecting rights and building a better future for refugees, forcibly displaced communities and stateless people. UNHCR has operations in more than 133 countries. (Source: unhcr.ca)</h6>
        </div>
      </div>
    <%- include("partials/footer"); -%>
</body>
</html>
